@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #FBF8EF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #FBF8EF;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.25rem;
}
